In [2]:
import pandas as pd

# Creating DataFrame from python list

In [4]:
data=[
    ["Shivam",20],
    ["Bob",30],
    ["Charlie",40]
]
print(data)

[['Shivam', 20], ['Bob', 30], ['Charlie', 40]]

In [6]:
df=pd.DataFrame(data)
print(df)

         0   1
0   Shivam  20
1      Bob  30
2  Charlie  40

In [7]:
df=pd.DataFrame(data,columns=["Name","Age"])
print(df)

      Name  Age
0   Shivam   20
1      Bob   30
2  Charlie   40

# Creating DataFrame from Dictonary list

In [8]:
data1={
    "Name": ["Shivam","Rohan","Ram"],
    "Age" : [20,30,40]
}
df1=pd.DataFrame(data1)
print(df1)

     Name  Age
0  Shivam   20
1   Rohan   30
2     Ram   40

# Creating DataFrame from Numpy Array

In [10]:
import numpy as np

In [13]:
arr=np.array([[1,2],[3,4]])
df2=pd.DataFrame(arr,columns=["A","B"])
print(df2)

   A  B
0  1  2
1  3  4

# Creating DataFrame from csv files

In [25]:
df3=pd.read_csv("data.csv.csv")
print(df3)

                 Actor                      Film  Year            Genre  \
0       Shah Rukh Khan                   Pathaan  2023           Action
1          Salman Khan           Tiger Zinda Hai  2017           Action
2           Aamir Khan                    Dangal  2016        Biography
3        Ranbir Kapoor                Brahmastra  2022          Fantasy
4        Ranveer Singh                 Padmaavat  2018       Historical
5   Ayushmann Khurrana                 Andhadhun  2018         Thriller
6        Rajkummar Rao                     Stree  2018    Horror Comedy
7       Hrithik Roshan                       War  2019           Action
8         Akshay Kumar                Good Newwz  2019           Comedy
9        Kartik Aaryan         Bhool Bhulaiyaa 2  2022    Horror Comedy
10        Varun Dhawan     Badrinath Ki Dulhania  2017  Romantic Comedy
11       Vicky Kaushal  Uri: The Surgical Strike  2019           Action

    BoxOffice(INR Crore)  IMDb
0                   1050   7.2
1                    565   6.0
2                   2024   8.4
3                    431   5.6
4                    585   7.0
5                    111   8.3
6                    180   7.5
7                    475   6.5
8                    318   7.0
9                    266   5.9
10                   201   6.1
11                   342   8.2

In [26]:
df3.head()

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0

In [27]:
df3.tail()

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [28]:
df3.describe()

              Year  BoxOffice(INR Crore)       IMDb
count    12.000000             12.000000  12.000000
mean   2019.000000            545.666667   6.975000
std       2.215647            528.535942   0.981766
min    2016.000000            111.000000   5.600000
25%    2017.750000            249.750000   6.075000
50%    2018.500000            386.500000   7.000000
75%    2019.750000            570.000000   7.675000
max    2023.000000           2024.000000   8.400000

In [33]:
df3.columns

Index(['Actor', 'Film', 'Year', 'Genre', 'BoxOffice(INR Crore)', 'IMDb'], dtype='object')

In [34]:
df3.shape

(12, 6)

In [29]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Actor                 12 non-null     object
 1   Film                  12 non-null     object
 2   Year                  12 non-null     int64
 3   Genre                 12 non-null     object
 4   BoxOffice(INR Crore)  12 non-null     int64
 5   IMDb                  12 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 708.0+ bytes

In [38]:
df5=pd.read_csv("data.csv.csv")
pd.read_csv("data.csv.csv",usecols=["Actor","Film"])

                 Actor                      Film
0       Shah Rukh Khan                   Pathaan
1          Salman Khan           Tiger Zinda Hai
2           Aamir Khan                    Dangal
3        Ranbir Kapoor                Brahmastra
4        Ranveer Singh                 Padmaavat
5   Ayushmann Khurrana                 Andhadhun
6        Rajkummar Rao                     Stree
7       Hrithik Roshan                       War
8         Akshay Kumar                Good Newwz
9        Kartik Aaryan         Bhool Bhulaiyaa 2
10        Varun Dhawan     Badrinath Ki Dulhania
11       Vicky Kaushal  Uri: The Surgical Strike

# Creating DataFrame from excel files

In [23]:
df4=pd.read_excel("book.xlsx")
print(df4)

     name  roll  age
0     abc    45   20
1     cgg    12   62
2     dgh    63   20
3   hgkjh    96   85
4  hghhvf   101   35

In [42]:
df6=pd.read_excel("class.xlsx")
print(df6)

      Name  Roll Course      Batch
0  Pranjal    25    MCA  2024-2026
1  Prateek    26    MCA  2024-2026
2   Shivam    42    MCA  2024-2026
3    Tarun    53    MCA  2024-2026

In [44]:
df6=pd.read_excel("class.xlsx",usecols=["Name","Roll"])
print(df6)

      Name  Roll
0  Pranjal    25
1  Prateek    26
2   Shivam    42
3    Tarun    53