In [2]:
import pandas as pd

In [4]:
s=pd.Series([10,20,40,50])
print(s)

0    10
1    20
2    40
3    50
dtype: int64

In [6]:
type(s)

pandas.core.series.Series

In [8]:
data = {
    "name" : ["Shivam","Aman","Rohit"],
    "age" : [20,30,40],
    "city" : ["Delhi","Mumbai","Bangalore"]
}
df=pd.DataFrame(data)
print(df)
type(df)

     name  age       city
0  Shivam   20      Delhi
1    Aman   30     Mumbai
2   Rohit   40  Bangalore

pandas.core.frame.DataFrame

In [10]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.columns

Index(['name', 'age', 'city'], dtype='object')

In [15]:
df.index = ["a","b","c"]
df.columns= ["Name","Age","City"]

In [17]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [18]:
print(df)

     Name  Age       City
a  Shivam   20      Delhi
b    Aman   30     Mumbai
c   Rohit   40  Bangalore